
a {
  text-decoration: none;

}

/*************
header
*************/
header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 30%;
  display: inline-block;
  /*background-color: orange;*/
}

h1 {
  /*float:left;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 5em;
  color: #872657;
  /*raspberry*/
}

h1 {
   /*text-decoration: none;*/
   width: 75%;
   padding-left: 10%;
}

h1 {
  text-shadow: 5px 4px 5px black;
}

h2 {
  font-size: 2em;
  float: right;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#place {
  width: 50%;
}

/**************
body
***************/
body {

  /*background: linear-gradient(red, tranparent 50%);*/
  background-image: url("../images/BG.jpg");
  background-size: cover;
  border-style: solid;
  border-color: #852355;
  border-width: 30px;
  border-radius: 3%;
  margin-bottom: 15px;
  box-shadow: 0px 0   5px  3px  #ff00ff,
        inset 0px 0   5px  3px  #ff00ff,
              7px 0px 50px 100px black,
        inset 3px 3px 10px 7px black;
}

p {
  font-family: arial;
}


nav  li{
  list-style: none;
  float: center;


}

.center {
  width: 70%;
  float: center;
  margin: 0 0 0 15%;
}


.map {
  float: center;
  margin: 0 0 0 20%
}


.left, .right {
  width: 40.5%;
}
.left {
  float: left;
}

.right {
  float: right;
}


.page-links ul li {
  width: 10%;
  float: right;
  padding: left;
  padding: 0 10px;
  margin: 5px;
}


#map-canvas {
    width: 500px;
    height: 400px;
    background-color: #ccc;
}

/***********
RYAN'S CSS
************/

/*
GENERAL
*/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;

}




  /*image border color and shadow*/
.boundry, .top{
  border-style: solid;
  border-color: #852355;
  border-width: 6px;
  border-radius: 10%;
  margin-bottom: 15px;
  box-shadow: 7px 5px 20px 3px black;


}

.links li {
  list-style: none;
}

/*
PAGE: MENU OFFERINGS
*/

#menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

 li {
  list_style: none;
  float: left;
  width: 50%;
  margin: 2.5%
}


nav {
  float: right;
  width: 60%;
  margin-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: beige;
  /*background-color: green;*/
}

div li p {
  margin-top: 1px;
}
footer {
  clear: both;
}

iframe {
  float: right;
  padding: 15px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 3px black;
  border-radius: 10%;
  box-shadow: inset 2px 3px 10px 5px black;
}

footer li {
  list-style: none;
  width: 100%;
  text-align: right;

}

.contact-info {
  float: right;
  width: 30%;
  text-align: right;
  margin: -20px;
}

/*JESSICA'S CSS*/
@media screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }

    h1 {
      font-size: 3em;
      /*color: #872657;*/
      color: black;
    }

    h2{
      font-size: 1em;
      float: center;
    }

    header {
      display: inline-block;
      width: 98%;
      text-align: center;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }

    header nav ul{
      text-align: center;
      float: center;
      width: 98%;


    }

    main nav {
      float: center;
      width: 98%;
      text-align: center;
      margin: 0 0 0 0;
      padding: 0 0 0 0;

    }

    body {
      border-width: 10px;
    }

    footer li{
      float: center;
      text-align: center;
      margin: 0 0 0 0;
    }

    footer p {
      float: center;
      text-align: center;
      margin: 0 0 0 0;
    }

    .map {
        float: center;
        display: none;
    }


   .left {
     display: inline-block;
     float: center;
   }

   .page-links ul li {
     width: 98%;
     padding: left;
     padding: 0 10px;
     margin: 5px;
     text-align: center;
  }
