a {
  text-decoration: none;

}

/*************
header
*************/
header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 30%;
  /*background-color: orange;*/
  display: inline-block;
}

h1 {
  /*float:left;*/
  font-size: 5em;
  color: #872657;
  /*raspberry*/
}

h1 {
   /*text-decoration: none;*/
   width: 75%;
   padding-left: 10%;
}

h1 {
  text-shadow: 5px 4px 5px black;
}

h2 {
  font-size: 2em;
  float: right;
}

#place {
  width: 50%;
}

/**************
body
***************/
body {

  /*background: linear-gradient(#fff, tranparent 50%),
  linear-gradient(0 deg, #fff, transparent),*/
  background-image: url("../images/BG.jpg");
  background-size: cover;


}
nav  li{
  list-style: none;
  float: center;


}

.center {
  float: center;

}

.left {
  float: left;
}

.right {
  float: right;
}




.page-links ul li {
  width: 10%;
  float: right;
  padding: left;
  padding: 0 10px;
  margin: 5px;
}





#map-canvas {
    width: 500px;
    height: 400px;
    background-color: #ccc;
}

/***********
RYAN'S CSS
************/

/*
GENERAL
*/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
}


  /*image border color and shadow*/
.center, .right, .left{
  border-style: solid;
  border-color: #852355;
  border-width: 5px;
  border-radius: 10%;
  margin-bottom: 15px;
  box-shadow: 7px 5px 20px 3px black;
}

/*
PAGE: MENU OFFERINGS
*/

#menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

 li {
  list_style: none;
  float: left;
  width: 50%;
  margin: 2.5%
}



/*.group:after {
  content: "";
  display: table;
  clear: both;
}*/

nav {
  float: right;
  width: 60%;
  margin-top: 10px;
  /*background-color: green;*/
}

div li p {
  margin-top: 2px;
}

footer {
  clear: both;
  width: 100%;
  background-color: green;
}

.contact-info {
  float: right;
  width: 50%;
  background-color: orange;
  display: inline-block;
  padding-right: 30px;
}

.social-media {
  float: left;
  width: 35%;
  background-color: red;
}
